div {
  float: left;
}
body {
  background-color: #e8dd8b;
}
.light-yellow {
  color: #e8dd8b;
}
#header {
  background-color: #d98825;
  width: 100%;
  border-bottom: 1px dashed white;
  color: blanchedalmond;
}
#header .title {
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bolder;
  height: 34px;
}
#header .description {
  margin-top: 5px;
  font-size: 16px;
  height: 34px;
}
#header .underline {
  border-bottom: 1px dashed white;
}
#header .btn {
  margin-top: 8px;
  margin-right: 5px;
  background-color: #59443c;
  color: blanchedalmond;
}
#header .btn:hover {
  color: #59443c;
  background-color: blanchedalmond;
}
