<!DOCTYPE html>
<html ng-app="mockSocksApp">
<head>
    <title>Mocksocks</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../app/css/lib/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../app/css/page/index.css">
    <link rel="stylesheet" type="text/css" href="../app/css/lib/font-awesome.css">
    <script src="../app/js/lib/jquery-1.10.2.js"></script>
    <script src="../app/js/lib/bootstrap.js"></script>
    <script src="../app/js/lib/angular.js"></script>
    <script src="../app/js/lib/angular-route.js"></script>
    <script src="../app/js/app/controllers.js"></script>
    <script src="../app/js/app/app.js"></script>

</head>
<body>
<div id="header" class="row">
    <div class="logo col-xs-2"><img src="../app/img/mocksocks.png" height="90" width="90"/></div>
    <div class="title col-xs-2">MockSocks</div>
    <div class="description col-xs-8">帮助你调试任意TCP/UDP之上连接的Socks代理工具.</div>
    <div class="col-xs-8"></div>
    <div class="underline col-xs-9"></div>
    <div class="col-xs-10">
        <div class="row">
            <div class="btn-group">
                <button type="button" class="btn btn-default" onclick="{location.href='#/connection'}">开始 <i class="fa fa-play"></i></button>
                <button type="button" class="btn btn-default">清空 <i class="fa fa-trash-o"></i></button>
            </div>
        </div>
    </div>
</div>
<div ng-view id="content"></div>

<script type="text/ng-template" id="connection.html">
    <div class="row" id="connection">
        <div class="col-xs-5" id="list" ng-controller="ConnectionListCtrl">
            <ul class="nav nav-pills">
                <li ng-repeat="connection in connections"><a href="#">{{connection.address.address}}</a></li>
            </ul>
        </div>
    </div>
</script>
</body>
</html>