<!DOCTYPE html>
<html>
<head>
    <title>Mocksocks</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../public/css/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/css/page/index.css">

</head>
<body>
<div id="head">
    <div id="logo"><img src="../public/img/mocksocks.png" width="90" height="90"/></div>
    <div id="title-toolbar">
        <span id="title">MockSocks</span>
        <span id="title-description">帮助你调试任意TCP/UDP之上连接的Socks代理工具.</span>

    </div>
    <div id="title-description-container">
        <button class="toolbar"><i id="start-button" class="glyphicon glyphicon-play"/>启动</button>
    </div>
</div>


</body>
</html>