@the-border: 1px;
@base-color: #111;
@orange:        #D98825;
@light-yellow: #E8DD8B;

div{
  float: left;
}

#header {
  color: (@base-color * 3);
  border-left: @the-border;
  border-right: (@the-border * 2);
  background-color: @orange;
  width: 100%;
}
body{
  background-color: @light-yellow;
}

#title-description-container{

}
